@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Audiowide&family=Roboto+Slab:wght@100..900&display=swap");
@import "tailwindcss";

@layer utilities {
  .bg-primary {
    background-color: #0d0d0d;
  }
  .bg-secondary {
    background-color: #2a2a2a;
  }
  .bg-terciary {
    background-color: #1d1d1d;
  }
  .bg-highlight-primary {
    background-color: #e6b422;
  }
  .bg-highlight-secondary {
    background-color: #eacd61;
  }
  .bg-highlight-terciary {
    background-color: #3cec85;
  }
  .text-highlight-primary {
    color: #e6b422;
  }
  .text-highlight-secondary {
    color: #eacd61;
  }
  .text-highlight-terciary {
    color: #3cec85;
  }

  .text-title {
    font-family: "Audiowide", sans-serif;
  }
  .text-default {
    font-family: "Roboto Slab", serif;
  }
  .text-description {
    font-family: "Alumni Sans Pinstripe", sans-serif;
  }
  .thin-border {
    outline: 2px solid rgb(131, 131, 131);
  }
  .text-light {
    color: rgb(187, 187, 187);
  }
  .hide-scroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }
}

:root {
  font-family: "Roboto Slab", serif;
}
@layer base {
}

html {
  scroll-behavior: liquid-smooth;
}
